@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
 scroll-behavior: smooth;
}

.site-inteiro {
 width: 1000px;
 margin: 0 auto;

}

.cabecalho {
 text-align: center;
 background-image: url('img/fundo-banner.png'); background-position: center center;
 background-size: cover;
 background-repeat: no-repeat;
 padding-top: 20px;
 padding-bottom: 20px;  

}


.titulo {
 font-family: 'Cookie';
 font-size: 60px;
 line-height: 40px;
 color: #6b705b;
 font-weight: normal;
 text-shadow: 2px 2px white;
}

.titulo-pequeno {
 font-size: 30px;
}


.menu-principal {
 background-color: #6b705b;
 text-align: center;
 padding-top: 10px;
 padding-bottom: 10px;
 font-family: 'Roboto';
 color: #FFe8B6;

}

.item-menu {
 color: #FFE8D6;
 text-decoration: none;
}


.item-menu:hover {
 text-decoration: underline;
}

.img-banner { width: 100%;
 border-bottom: 3px solid #6b705b;
}

.titulo-cardapio,
.titulo-galeria,
.titulo-contato {
 margin-top: 50px;
 font-family: 'Cookie';
 font-weight: normal;
 font-size: 45px;
color: #CB997E;
 text-align: center;
 text-shadow: 2px 2px 10px #6b705b;

}


.lista-cardapio {
 column-count: 4;
 column-gap: 30px;
 padding: 60px;
 font-family: 'Roboto';
 color: #6b705c;
 margin-left: 8px;
}

.galeria-fotos {
 padding-top: 5px;
 padding-bottom: 50px;
 background: #6B705C;
}

.titulo-galeria {
 color: #FFE8D6;
 padding-bottom: 20px;
 text-shadow: 2px 2px 10px black;

}

.linha-fotos {
 display: flex;
 justify-content: space-evenly;

}

.foto-bolo {
 border: 5px solid #FFE8D6;
 border-radius: 5px;
 transition: all 2.1s ease;
}


.foto-bolo:hover {
 border-color: aquamarine;
 cursor: crosshair;
 transform: scale(1.1);
}
.mapa{
 padding: 10px;
 text-align: center;
}
.rodape{
 text-align: center;
 border-top: 5px solid #6b705c;
 padding: 20px;

}
.titulo-rodape{
 font-weight: normal;
 font-size: 50px;
 line-height: 30px;
 font-family: 'Cookie';
 color: #6b705b;
 margin-bottom: 20px;
}
.redes-sociais a{
 text-decoration: none;
}

